html {
    background-color: #bac5dd;
}

#container{
    max-width: 1000px;
    width: 95%;
    margin:0 auto;
}

#container #header h1{
    background-image: url('img/picture1.jpg');
    background-size: cover;
    color:white;
    font-size: 40px;
    padding: 220px 100px 150px 300px;
}

#nav{
    background-color: #5473b4;
    background-size: cover;
    padding: 20px;
    margin-top: -30px;
    margin-bottom: -20px;
}  

#nav a{
    text-decoration: none;
    color: white;
    text-align: center;
}

#nav ul li.fo{
	display: inline;
    list-style-type: none;
    margin-right: 60px;
}

#nav ul li ul{
    list-style-type: none; 
}

#nav ul ul{
	display: none;
    position:absolute;
    background-color: #5473b4;
}

#nav ul{
    text-align: center;
}

#nav ul li:hover ul{
	display:block;
}

#nav ul ul li{
	display: block;
}

#content{
    background-color:whitesmoke;
}

.jobb{
    float:right;
    padding: 0 0 0 10px;
}
.bal{
    float:left;
    padding:0 10px 0 0;
}

#footer{
    background-color: white;
    background-size: cover;
    text-align: center;   
    padding: 30px;
    height: 80px;
    margin-top: -17px;
}